<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>
        <!-- Custom tab -->
        <tab id="custom_module" translate="label" sortOrder="200">
            <label>Custom Module</label>
        </tab>

        <!-- Config section -->
        <section id="demo_custom" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Demo Custom Settings</label>
            <tab>custom_module</tab> <!-- Must match the tab ID above -->
            <resource>Demo_Custom::configuration</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>

                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
    
</config>
